<html>
<body>
<br />
<br />
<strong><span style="font-size:14pt;font-family:Calibri,Arial,sans-serif;">Password belonging to '{SUBJECT}'<br />Nextcloud Talk Conversation</span></strong><br />
<br />
<span style="font-family:Calibri,Arial,sans-serif;">Use the following password to access your meeting.</span><br />
<b style="font-family:Calibri,Arial,sans-serif;"><pre style="margin:0;font-family:Calibri,Arial,sans-serif;">{PASSWORD}</pre></b><br />
<br />
<a style="font-family:Calibri,Arial,sans-serif;" href="https://docs.nextcloud.com/server/latest/user_manual/en/talk/guest.html">How to use Nextcloud Talk</a> | <a style="font-family:Calibri,Arial,sans-serif;" href="https://nextcloud.com/talk/">About Nextcloud Talk</a><br /><br />
</body>
</html>
