<html>
<body>
    <br />
    <br />
    <strong><span style='font-size: 14pt;font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;'>Password belonging to '{SUBJECT}' <br/> Nextcloud Talk Conversation</span><br /></strong>
    <br />
    <span style='font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;'>Use the following password to access your meeting.</span><br />
    <b style='font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;'>{PASSWORD}<pre/></b><br />
    <br />
    <a style='font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;'
        href='https://docs.nextcloud.com/server/latest/user_manual/en/talk/join_a_call_or_chat_as_guest.html'>How to use Nextcloud Talk </a>|<a style='font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;'
        href='https://nextcloud.com/talk/'>About Nextcloud Talk </a></b></b><br /><br />
    <body>

</html>